

/* Basscss Btn */

.btn {
  -webkit-appearance: none;
  background-color: transparent;
  border: var(--border-width) solid transparent;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  height: auto;
  line-height: var(--button-line-height);
  margin: 0;
  padding: var(--button-padding-y) var(--button-padding-x);
  text-decoration: none;
  vertical-align: middle;
}

.btn:hover {
  text-decoration: none;
}

.btn:focus {
  border-color: var(--darken-2);
  box-shadow: 0 0 0 3px var(--darken-3);
  outline: none;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

:root {
  --border-width: 1px;
  --bold-font-weight: bold;
  --button-font-family: inherit;
  --button-font-size: inherit;
  --button-font-weight: var(--bold-font-weight);
  --button-line-height: 1.125rem;
  --button-padding-y: .5rem;
  --button-padding-x: 1rem;
  --darken-2: rgba(0, 0, 0, .125);
  --darken-3: rgba(0, 0, 0, .25);
}


body {
  background-color: #1e1e20;
  color: white;
  font-family: "Trebuchet MS","Lucida Sans Unicode","Lucida Grande","Lucida Sans",Arial,sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Gill Sans","Gill Sans MT",Calibri,"Trebuchet MS",sans-serif;
  font-weight: 700;
}

h3 {
  font-size: 1.375rem;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 1rem;
}

.short_line-height {
  line-height: 1;
}

.primary_colored {
  color: #dc3522;
}

.btn_primary-colored {
  background-color: #dc3522;
  border-color: #dc3522;
  color: #ffffff;
}

.btn_primary-colored:hover {
  background-color: #b02a1b;
  border-color: #b02a1b;
  color: #ffffff;
}

.btn_primary-colored.focus, .btn_primary-colored:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220,53,34,0.5);
          box-shadow: 0 0 0 0.2rem rgba(220,53,34,0.5);
}

.btn_primary-colored.disabled, .btn_primary-colored:disabled {
  background-color: #dc3522;
  border-color: #dc3522;
}

.btn_primary-colored:not([disabled]):not(.disabled).active, .btn_primary-colored:not([disabled]):not(.disabled):active, .show > .btn_primary-colored.dropdown-toggle {
  background-color: #b02a1b;
  border-color: #a52819;
  color: #ffffff;
}

.btn_primary-colored:not([disabled]):not(.disabled).active:focus, .btn_primary-colored:not([disabled]):not(.disabled):active:focus, .show > .btn_primary-colored.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220,53,34,0.5);
          box-shadow: 0 0 0 0.2rem rgba(220,53,34,0.5);
}

.btn_colored-sm {
  border-radius: 0;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5;
  padding: 0.25rem 0.5rem;
}

.text-secondary {
  color: #868e96;
}

.text-uppercase {
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar {
  background-color: #343a40;
  padding: 0.5rem 1rem;
  z-index: 10;

  ul {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.navbar-brand {
  color: white;
  font-family: "Gill Sans","Gill Sans MT",Calibri,"Trebuchet MS",sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
}

.navbar .nav-link {
  color: rgba(255,255,255,0.5);
}

.navbar .nav-link:focus, .navbar .nav-link:hover {
  color: rgba(255,255,255,0.75);
}

/*
 * Price
 */

.price_placeholder {
  letter-spacing: 0;
  position: absolute;
}

.price_placeholder .price_wrap {
  color: #d9cb9e;
  display: block;
  font-family: "Gill Sans","Gill Sans MT",Calibri,"Trebuchet MS",sans-serif;
  position: relative;
}

.price_placeholder .price_word {
  font-size: 1.125rem;
  font-weight: 500;
  position: absolute;
  right: 0;
  top: -12px;
}

.price_placeholder .price_price {
  font-size: 2.25rem;
  font-weight: 500;
}

.pill_icon-placeholder {
  display: block;
  height: 42px;
  position: absolute;
  width: 42px;
}

/*
 * Pre Order Sign
 */

.pre_order-sign-placeholder {
  -webkit-animation: floating 2s ease-in-out infinite;
          animation: floating 2s ease-in-out infinite;
  left: 30px;
  position: absolute;
  right: auto;
  top: 30px;
  z-index: 2;

  @media (min-width:40em) {
    left: -74px;
    right: auto;
    top: -150px;
  }

  @media (min-width:52em) {
    left: auto;
    right: 25px;
    top: -90px;
  }

  @media (min-width:64em) {
    right: 60px;
    top: -50px;
  }
}


.pre_order-sign-placeholder .pre_order-wrap {
  color: #d9cb9e;
  font-family: "Gill Sans","Gill Sans MT",Calibri,"Trebuchet MS",sans-serif;
  font-size: 1.375rem;
  font-weight: 700;
  height: 120px;
  line-height: 1;
  position: relative;
  width: 120px;
}

.pre_order-sign-placeholder .pre_order-wrap .pre_order-sign-hole {
  background-color: #374140;
  border: 1px solid #d9cb9e;
  border-radius: 50%;
  height: 10px;
  position: absolute;
  right: 45.88%;
  top: -17px;
  width: 10px;
}

.pre_order-sign-placeholder .pre_order-wrap .pre_order-sign-background {
  background-color: #000000;
  border: 6px solid #000000;
  border-radius: 10px;
  bottom: 0;
  -webkit-box-shadow: 9px 9px 21px 0 rgba(0,0,0,0.17);
          box-shadow: 9px 9px 21px 0 rgba(0,0,0,0.17);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.pre_order-sign-placeholder .pre_order-wrap .pre_order-sign-layer {
  border: 4px solid #d9cb9e;
  border-radius: 10px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.pre_order-sign-placeholder .pre_order-wrap p {
  bottom: 0;
  left: 0;
  padding-top: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.hero_header-wrap {
  overflow: hidden;
}

.hero_image-placeholder {
  background-image: url("assets/images/shotaro-kaneda/kaneda-header-xl-1920.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: -30px;
  margin-bottom: -20%;
}

.hero_header-wrap .hero_header-inner {
  height: 500px;
}
.hero_header-wrap .hero_header-inner h1 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1;
  margin-top: 1rem;
}
.hero_header-wrap .hero_header-inner h1 small {
  font-weight: 300;
}

.section_synopsis-wrap {
  background-color: #374140;
}

.figurine_placeholder {
  height: auto;
  text-align: right;

  @media (min-width:40em) {
    height: 380px;
    text-align: left;
  }
}

.figurine_wrap {
  display: inline-block;
  left: auto;
  max-width: 329px;
  position: relative;
  top: auto;
  width: 100%;

  @media (min-width:40em) {
    display: block;
    left: 0;
    position: absolute;
    top: -80px;
  }

  @media (min-width:52em) {
    left: 0;
    padding-left: 0;
    position: absolute;
    top: -140px;
  }

  @media (min-width:64em) {
    left: 0;
    padding-left: 0;
    position: absolute;
    top: -140px;
  }
}

/*
 * Synopsis Wrap
 */

.section_synopsis-wrap .price_placeholder {
  left: 60px;
  position: absolute;
  right: auto;
  top: 180px;

  @media (min-width:40em) {
    left: 10px;
    right: auto;
    top: -20px;
  }

  @media (min-width:52em) {
    left: auto;
    right: 55px;
    top: 56px;
  }

  @media (min-width:64em) {
    left: auto;
    right: 90px;
    top: 100px;
  }
}

/*
 * Gallery Wrap
 */

.section_gallery-wrap {
  background-image: url("assets/images/common/background-light-pattern.png");
  background-repeat: repeat;
}

.frame_bordered {
  border: 2px solid #374140;
}

/*
 * Forms Wrap
 */

.section_forms {
  background-image: url("assets/images/common/background-dark-pattern.png");
  background-repeat: repeat;
}

.section_forms .price_placeholder {
  bottom: -8px;
  position: absolute;
  right: 50px;

  @media (min-width:40em) {
    bottom: -8px;
    position: absolute;
    right: 20px;
  }

  @media (min-width:52em) {
    bottom: -8px;
    position: absolute;
    right: 0;
  }

  @media (min-width:64em) {
    bottom: -8px;
    position: absolute;
    right: 27px;
  }
}

.pill_icon-placeholder {
  bottom: 0;
  right: 110px;

  @media (min-width:40em) {
    bottom: 0;
    right: 80px;
  }

  @media (min-width:52em) {
    bottom: 0;
    right: 56px;
  }

  @media (min-width:64em) {
    bottom: 0;
    right: 86px;
  }
}

/*
 * Paypal Logo
 */

.paypal_logo-wrap {
  max-width: 160px;
  width: 100%;
}

/*
 * Paypal Logo
 */

.visa_logo-wrap {
  max-width: 96px;
  width: 100%;
}


// AMP Forms

textarea {
  overflow: auto;
}

.ampstart-input {
  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 100%;
  min-width: 100px;
  width: 300px;
}

.ampstart-input [disabled], .ampstart-input [disabled] + label {
  opacity: 0.5;
}

.ampstart-input [disabled]:focus {
  outline: 0;
}

.ampstart-input > input, .ampstart-input > select, .ampstart-input > textarea {
  background: none;
  border: 0;
  border-bottom: 2px solid #615b45;
  border-radius: 0;
  color: #4a4a4a;
  line-height: 1.5rem;
  margin-top: 1rem;
  outline: 0;
  width: 100%;
}

.ampstart-input > label {
  -webkit-animation: 0.2s;
          animation: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4,0,0.2,1);
          animation-timing-function: cubic-bezier(0.4,0,0.2,1);
  color: #d9cb9e;
  font-size: 0.875rem;
  line-height: 1rem;
  opacity: 0;
  pointer-events: none;
  text-align: left;
}

.ampstart-input > input:focus, .ampstart-input > select:focus, .ampstart-input > textarea:focus {
  outline: 0;
}

.ampstart-input > input:focus::-webkit-input-placeholder, .ampstart-input > select:focus::-webkit-input-placeholder, .ampstart-input > textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.ampstart-input > input:focus::-moz-placeholder, .ampstart-input > select:focus::-moz-placeholder, .ampstart-input > textarea:focus::-moz-placeholder {
  color: transparent;
}

.ampstart-input > input:focus:-ms-input-placeholder, .ampstart-input > select:focus:-ms-input-placeholder, .ampstart-input > textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.ampstart-input > input:focus::placeholder, .ampstart-input > select:focus::placeholder, .ampstart-input > textarea:focus::placeholder {
  color: transparent;
}

.ampstart-input > input:not(:placeholder-shown):not([disabled]) + label, .ampstart-input > select:not(:placeholder-shown):not([disabled]) + label, .ampstart-input > textarea:not(:placeholder-shown):not([disabled]) + label {
  opacity: 1;
}

.ampstart-input > input:focus + label, .ampstart-input > select:focus + label, .ampstart-input > textarea:focus + label {
  -webkit-animation-name: a;
          animation-name: a;
}

@-webkit-keyframes a {
  to {
    opacity: 1;
  }
}

@keyframes a {
  to {
    opacity: 1;
  }
}

.ampstart-input > label:after {
  background: #d9cb9e;
  bottom: 0;
  content: "";
  height: 2px;
  left: 45%;
  position: absolute;
  -webkit-transition: 0.2s;
          transition: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.4,0,0.2,1);
          transition-timing-function: cubic-bezier(0.4,0,0.2,1);
  visibility: hidden;
  width: 10px;
}

.ampstart-input > input:focus + label:after, .ampstart-input > select:focus + label:after, .ampstart-input > textarea:focus + label:after {
  left: 0;
  visibility: visible;
  width: 100%;
}

.ampstart-input > input[type=search] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.ampstart-input > input[type=range] {
  border-bottom: 0;
}

.ampstart-input > input[type=range] + label:after {
  display: none;
}

.ampstart-input > select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.ampstart-input > select + label:before {
  bottom: 0;
  color: #d9cb9e;
  content: "\2304";
  line-height: 1.5rem;
  position: absolute;
  right: 5px;
  top: 0;
  zoom: 2;
}

.ampstart-input-chk, .ampstart-input-radio {
  color: #4a4a4a;
  width: auto;
}

.ampstart-input input[type=checkbox], .ampstart-input input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #d9cb9e;
  height: 20px;
  margin-right: 0.5rem;
  margin-top: 0;
  text-align: center;
  vertical-align: middle;
  width: 20px;
}

.ampstart-input input[type=radio] {
  border-radius: 20px;
}

.ampstart-input input[type=checkbox]:not([disabled]) + label, .ampstart-input input[type=radio]:not([disabled]) + label {
  -webkit-animation: none;
          animation: none;
  cursor: pointer;
  opacity: 1;
  pointer-events: auto;
  vertical-align: middle;
}

.ampstart-input input[type=checkbox] + label:after, .ampstart-input input[type=radio] + label:after {
  display: none;
}

.ampstart-input input[type=checkbox]:after, .ampstart-input input[type=radio]:after {
  background-color: #ffffff;
  bottom: 0;
  content: " ";
  left: 0;
  line-height: 1.4rem;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  vertical-align: middle;
}

.ampstart-input input[type=checkbox]:checked:after {
  background-color: #d9cb9e;
  color: #ffffff;
  content: "\2713";
}

.ampstart-input input[type=radio]:checked {
  background-color: #ffffff;
}

.ampstart-input input[type=radio]:after {
  border-radius: 12px;
  bottom: 3px;
  left: 3px;
  right: 3px;
  top: 3px;
}

.ampstart-input input[type=radio]:checked:after {
  background-color: #d9cb9e;
  content: "";
  font-size: 3rem;
}

.ampstart-input > label, _:-ms-lang(x) {
  opacity: 1;
}

.ampstart-input > input:-ms-input-placeholder, _:-ms-lang(x) {
  color: transparent;
}

.ampstart-input > input::placeholder, _:-ms-lang(x) {
  color: transparent;
}

.ampstart-input > input::-ms-input-placeholder, _:-ms-lang(x) {
  color: transparent;
}

.ampstart-input > select::-ms-expand {
  display: none;
}

// End AMP Forms

footer {
  background-color: #1e1e20;
}

footer .copyright_info-wrap {
  color: #d9cb9e;
  font-size: 0.875rem;
}
