/*
 * Project Styles
 * Akira Figurines
 */

@import "functions";
@import "variables";
@import "mixins";

/*
 * Theme Colors
 */

$Shark: #1e1e20;
$Cape-Cod: #374140;
$Red-Ribbon: #e20d1b;
$Pavlova: #d9cb9e;

/*
 * Body Styles
 */

body {
  font-family: "Open Sans", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 300;
}

/*
 * Synopsis Styles
 */

.section_synopsis-wrap {
  background-color: $Cape-Cod;
}


/*
 * Gallery Styles
 */

.section_gallery-wrap {
  background-image: url("../images/common/background-light-pattern.png");
  background-repeat: repeat;
}

/*
 * Forms Styles
 */

.section_forms {
  background-image: url("../images/common/background-dark-pattern.png");
  background-repeat: repeat;
}

/*
 * Footer Styles
 */

footer {
  background-color: $Shark;
  .copyright_info-wrap {
    font-size: 0.875rem;
  }
}
